@font-face {
  font-family: MetalMania;
  src: url(/fonts/MetalMania-Regular.ttf);
}

@font-face {
  font-family: Sen;
  src: url(/fonts/Sen-Regular.ttf);
}

@font-face {
  font-family: SenBold;
  src: url(/fonts/Sen-Bold.ttf);
}

@font-face {
  font-family: Alegreya;
  src: url(/fonts/Alegreya-Regular.ttf);
}

@font-face {
  font-family: Caveat;
  src: url(/fonts/Caveat-Regular.ttf);
}

html,
body,
header,
footer,
main,
nav,
ul,
#main-disclamer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  color: var(--primary-font-color);
  /* background-color: var(--primary-bg-color); */
  background-image: url(/img/greypaper.webp);
  background-size: 100%;
  background-repeat: repeat;
}

header,
footer {
  background-color: var(--header-background-color);
  color: var(--secondary-font-color);
  height: min-content;
}
.logo-wrapper {
  background-color: var(--logotype-background-color);
  color: var(--logotype-color);
}
#main-disclamer {
  height: 180px;
  background-color: var(--disclamer-background-color);
  color: var(--headline-color-inverted);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#main-disclamer img {
  height: 160px;
  margin-right: 1rem;
}

.main-disclamer-text {
  margin: auto;
}

.rotate {
  animation: rotateElement 5s linear infinite;
}

@keyframes rotateElement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-disclamer p {
  font-family: var(--secondary-headline-font);
  font-size: var(--secondary-headline-size);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}
main section {
  padding: 20px;
  /* margin: 10px; */
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
}
h1 {
  font-size: var(--headline1-size);
  color: var(--headline-color-inverted);
  margin: 5px 0;
  line-height: 1rem;
  text-align: left;
}
h2 {
  font-size: var(--headline2-size);
}
h3 {
  font-size: var(--headline3-size);
}

main > h1 {
  background-color: var(--headline-bg-color-alert);
  color: var(--headline-color-inverted);
  line-height: 4rem;
  padding: 5px 3rem 0 3rem;
  width: calc(80% - 6rem);
}

.highlight {
  color: var(--headline-color-inverted);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
}
nav ul {
  list-style: none;
}
nav a {
  font-family: var(--link-font);
  text-decoration: none;
  color: var(--link-color);
}
a {
  font-family: var(--link-font);
}
#logotype-wrapper {
  background-color: var(--logotype-background-color);
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1rem;
}
#logotype-wrapper > a {
  font-size: var(--logotype-size);
  color: var(--logotype-color);
  font-family: var(--logotype-font);
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
}
header nav li a {
  margin: 1.5rem;
  background-color: var(--followup-text-bg-color);
  color: var(--followup-text-color);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}
header > nav li > a:after {
  content: " \2192";
  color: var(--logotype-color);
}
.menu a:hover {
  background-color: var(--hover-background-color);
  transition-duration: 1.5s;
}
nav a:active {
  color: var(--active-color);
}

.news_card img {
  width: 15vw;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.news_card:nth-of-type(2) {
  border-top: 0.1rem solid var(--headline-bg-color-inverted);
  border-bottom: 0.1rem solid var(--headline-bg-color-inverted);
}

/* INFOGRAPHIC SPECIAL */

#default-info-text {
  font-size: var(--bodytext-size);
}

.info-graphic {
  padding: 0;
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}
.yellow,
.green {
  padding: 1rem;
  color: var(--bodytext-color-inverted);
  font-size: var(--bodytext-size);
}
.yellow {
  background-color: var(--info-bg-color-yellow);
}
.green {
  background-color: var(--info-bg-color-green);
}
